# Questionamento para o usuario escolher os dois valores inicias que serao utilizados na questao.
a = int(input('Digite o valor do primeiro item da questao:'))
b = int(input('Digite o valor do segundo item da questao:'))

# Def para repeticao, caso o usuario escolha uma opcao inadequada.
def again():
 
 # Questionamento para o usuario escolher a operacao que sera utilizada.
 equacao = int(input('Escolha a operacao que deseja realizar:'
               '\n 1 - SOMA'
               '\n 2 - SUBTRACAO'
               '\n 3 - DIVISAO'
               '\n 4 - MULTIPLICACAO'))
 
 # If e else para diferenciar a escolha do usuario e again() para retormar a pergunta caso sua escolha seja fora do pedido.
 if equacao < 1 or equacao > 4:
    print('Opcao invalida, tente novamente')
    again()

 else:
  
  # Opcao match para realizar qualquer operacao de acordo com a escolha do usuario. 
  # Variavel string "ex" para compor a respota final, de acordo com a operacao escolhida.
  match equacao:
    case 1:
        c = a + b
        ex = 'mais'
    case 2:
        c = a - b
        ex = 'menos'
    case 3:
        c = a / b
        ex = 'dividido por'
    case 4:
        c = a * b
        ex = 'multiplicado por'

  print('O resultado da equacao de [',a,']',ex,'[',b,'] resulta em: [',c,'].')

  # Opcao para jogar novamente.
  nova_questao = int(input('Deseja realizar uma nova questao?'
                 '\n 1 - SIM'
                 '\n 2 - NAO'))
  
  # Alternativa para uma opcao de encerramento da questao.
  if nova_questao == 2:
     print('Fim da questao.')

  # Opcao IF e while para continuamento e loping da questao para caso de repeticao da questao.
  if nova_questao == 1:
    while nova_questao == 1:
     
     # Opcao de anulamento da questao anterior (antiga resposta "c" sera 0).
     zero = int(input('Deseja zerar a questao?'
                      '\n 1 - SIM'
                      '\n 2 - NAO'))
     
     # Opcao de anulacao da questao anterior.
     if zero == 1:
        c = 0

     d = int(input('Digite o valor do novo denominador:'))    
     
     nova_equacao= int(input('Escolha a nova equacao que deseja realizar'
                     '\n 1 - ADICAO'
                     '\n 2 - SUBTRACAO'
                     '\n 3 - DIVISAO'
                     '\n 4 - MULTIPLICACAO.')) 
     
     # If para caso a resposta estiver fora do padrao e While para estar em looping ate a resposta estiver no padrao.
     if nova_equacao < 1 or nova_equacao > 4: 
      while nova_equacao < 1 or nova_equacao > 4:
       
       print('Opcao invalida, tente novamente')
       nova_equacao= int(input('Escolha a nova equacao que deseja realizar'
                     '\n 1 - ADICAO'
                     '\n 2 - SUBTRACAO'
                     '\n 3 - DIVISAO'
                     '\n 4 - MULTIPLICACAO.')) 
        
     # Opcao match para realizar qualquer operacao de acordo com a escolha do usuario.    
     match nova_equacao:
        case 1:
           e = c + d
           ex = 'mais'
          
        case 2:
           e = c - d
           ex = 'menos'
                   
        case 3:
           e = c / d
           ex = 'dividido por'
                    
        case 4:
           e = c * d
           ex = 'multiplicado por'
                           
     print('O resultado da equacao de [',c,']',ex,'[',d,'] resulta em: [',e,'].')

     # Mudanca de valor da resposta anterior para seguir de acordo com o funcionamento da questao.
     c = e

     nova_questao = int(input('Deseja realizar uma nova equacao?'
                    '\n 1 - SIM'
                    '\n 2 - NAO'))
     
     # Finalizacao da questao.
     if nova_questao == 2:
        print('Fim da equacao.')
     
again()